
<div class="bootstrap-data-table-panel">
    <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered">
            <tfoot style="display: table-header-group">
            <tr>
                <th>#</th>
                <th>t_desc</th>
                <th>t_opha</th>
                <th>t_sdat</th>
                <th>t_edat</th>
                <th>t_cprj</th>
                <th>t_ttyp</th>
                <th>t_docn</th>
                <th>t_btno</th>
                <th>t_stat</th>
            </tr>
            </tfoot>
            <thead>
            <tr>
                <th>#</th>

                <th>t_desc</th>
                <th>t_opha</th>
                <th>t_sdat</th>
                <th>t_edat</th>
                <th>t_cprj</th>
                <th>t_ttyp</th>
                <th>t_docn</th>
                <th>t_btno</th>
                <th>t_stat</th>
            </tr>
            </thead>
            <tbody>
            {% for table in tables %}
                <tr>
                    <td></td>
                    <td>{{ table.t_desc }}</td>
                    <td>{{ table.t_opha }}</td>
                    <td>{{ table.t_sdat|date:"d/m/Y" }}</td>
                    <td>{{ table.t_edat|date:"d/m/Y" }}</td>
                    <td>{{ table.t_cprj }}</td>
                    <td>{{ table.t_ttyp }}</td>
                    <td>{{ table.t_docn }}</td>
                    <td>{{ table.t_btno }}</td>
                    <td>{{ table.t_stat }}</td>
                    {% if table.t_potr == 1 %}
                        <td>PQ</td>
                    {% elif table.t_potr == 2 %}
                        <td>Tender</td>
                    {% elif table.t_potr == 3 %}
                        <td>PQ+Tender</td>
                    {% else %}
                        <td>{{ table.t_potr }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% if tables|length == 0 %}
                <td colspan="7" style="text-align: center"><h1>No Data Found</h1></td>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
